# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Ignore all files in src/components
src/components/*

# Uncomment the lines below to keep specific files
# !src/components/Blockquote.jsx
!src/components/Border.jsx
# !src/components/Build.jsx
!src/components/Button.jsx
# !src/components/Clients.jsx
# !src/components/ContactDetails.jsx
# !src/components/ContactForm.jsx
!src/components/ContactSection.jsx
!src/components/Container.jsx
!src/components/Cultures.jsx
# !src/components/Deliver.jsx
# !src/components/Discover.jsx
!src/components/FadeIn.jsx
!src/components/Footer.jsx
!src/components/FooterNavigation.jsx
!src/components/GridList.jsx
# !src/components/GridPattern.jsx
# !src/components/List.jsx
# !src/components/Logo.jsx
!src/components/Offices.jsx
!src/components/PageIntro.jsx
# !src/components/RadioInput.jsx
!src/components/RootLayout.jsx
# !src/components/Section.jsx
!src/components/SectionIntro.jsx
# !src/components/Services.jsx
# !src/components/SocialMedia.jsx
!src/components/StatList.jsx
# !src/components/StylizedImage.jsx
# !src/components/TagList.jsx
!src/components/TeamMember.jsx
!src/components/Testimonials.jsx
# !src/components/TextInput.jsx
# !src/components/Values.jsx
